doctype html
link(rel="stylesheet", href="styles/table.css", type="text/css")

html
  h1 table
  - var days = ['1', '2', '3', '4', '5', '6']
  - var time = ['8:15-9:50', '10:00-11:35', '11:45-13:20', '13:30-15:05', '15:15-16:50', '17:00-18:35', '18:45-20:20']
  - var rasp = ['','','','','','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1343"','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1343"','','','','','','','','','','','','"л.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1348"','','','"л.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1348"','','','"л.Средства интеграции программных модулейдоц.Фигура К.Н.   1348"','','','','','','','','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А. 1348"','','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1346"','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1346"','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','','','','','','','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','"л.Средства интеграции программных модулейдоц.Фигура К.Н.   1348"','','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1343"','','','','','','','','','','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','','','','','"л.Прикладные пакеты в экономикедоц.Шаров С.В.   1348"','','','"л.Прикладные пакеты в экономикедоц.Шаров С.В.   1348"','','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1343"','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1346"','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1343"','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','',]

  //- div(class='container_as_row')
  //-   div(class='container_as_clm ')
  //-     div(class='table_piece table_title')
  //-       p Date
  //-     each n in days
  //-       div(class='table_piece date_column')
  //-         p=n
  //-   div(class='container_as_clm')
  //-     div(class='table_piece table_title')
  //-       p Time
  //-     - var item = 0
      
  //-     each n in days
  //-       each t in time
  //-         div(class='container_as_row')
  //-           div(class='table_piece table_time')
  //-             p=t
  //-           div(class='container_as_col item_holder')
  //-             div(class='table_piece table_item')
  //-               =rasp[item++]
  //-             div(class='table_piece table_item')
  //-               =rasp[item++]

  - var item = 0
  div(class='container_as_row stick_top')
    div(class='table_piece date_title')
     | Date
    div(class='table_piece time_title')
     | Time
    div(class='table_piece group_title')
     | Group 
  div(class='container_as_col')

    each n in days
      div(class='container_as_row')
        div(class='container_as_col')
          div(class='table_piece date_title')
            p=n
        div(class='container_as_col')
          each t in time
            div(class='container_as_row')
              div(class='container_as_col')
                div(class='table_piece time_title')
                  p=t
              div(class='container_as_row group_title')
                div(class='table_piece table_item')
                  p=rasp[item++]
                div(class='table_piece table_item')
                  p=rasp[item++]


        


