doctype html
link(rel="stylesheet", href="styles/table.css", type="text/css")
meta(http-equiv="refresh", content="300")
html
  h1 table
  //- - var days = ['1', '2', '3', '4', '5', '6']
  //- - var time = ['8:15-9:50', '10:00-11:35', '11:45-13:20', '13:30-15:05', '15:15-16:50', '17:00-18:35', '18:45-20:20']
  //- - var rasp = ['','','','','','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1343"','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1343"','','','','','','','','','','','','"л.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1348"','','','"л.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1348"','','','"л.Средства интеграции программных модулейдоц.Фигура К.Н.   1348"','','','','','','','','','"лаб.Прикладные пакеты общего назначенияст.пр.Полячкова М.А. 1348"','','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1346"','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1346"','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','','','','','','','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','"л.Средства интеграции программных модулейдоц.Фигура К.Н.   1348"','','','"лаб.Средства интеграции программных модулейдоц.Фигура К.Н.   1343"','','','','','','','','','','','"л.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"лаб.Экспертные системыпроф.Горохов Д.Б.   1344"','','','"л.Прикладные пакеты общего назначенияст.пр.Полячкова М.А.   1348"','','','','','','"л.Прикладные пакеты в экономикедоц.Шаров С.В.   1348"','','','"л.Прикладные пакеты в экономикедоц.Шаров С.В.   1348"','','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1343"','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1346"','','"лаб.Прикладные пакеты в экономикедоц.Шаров С.В.   1343"','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','"лаб.Технические и программные средства защиты информациидоц.Кушнарев В.С.   1343"','','','',]

  - var item = 0
  div(class='stick_top')
    div(class='container_as_col')
      div(class='container_as_row')
        div(class='table_piece date_title')
          span Date
        div(class='table_piece time_title')
          span Time
        div(class='table_piece group_title')
          span Groups
      div(class='container_as_row')
        div(class='table_piece date_title')
          span -
        div(class='table_piece time_title')
          span -
        div(class='table_piece group_title')
          each g in groups
            - //${g.id -1 != 0 ? 'hide_col' : ''}
            div(class=`table_piece table_item `)
              text #{g.title}
          
  div(class='container_as_col')

    each d in days
      div(class='container_as_row')
        div(class='container_as_col')
          div(class='table_piece date_title')
            p=d.title
        div(class='container_as_col table_item')
          each t in time
            div(class='container_as_row')
              div(class='container_as_col')
                div(class='table_piece time_title')
                  - var hours=Math.floor(t.from_as_minuts/60)
                  - var minuts=t.from_as_minuts%60
                  - var tm = `${hours}:${minuts < 10 ? '0' : ''}${minuts}`
                  - hours=Math.floor((t.from_as_minuts + t.duration_as_minuts)/60)
                  - minuts=(t.from_as_minuts + t.duration_as_minuts)%60
                  - tm += ` - ${hours}:${minuts < 10 ? '0' : ''}${minuts}`
                  p=tm
              div(class='container_as_row group_holder table_item')
                - //${i != 0 ? 'hide_col' : ''}
                - for (let i=0; i < groups.length; i++ )
                  div(class=`container_as_col up_holder `)
                    - for (var up=0; up < 2; up++ )
                      - var title = '-'
                      - var cur = ''
                      if rasp[item]
                        if rasp[item].class
                          - title = `${rasp[item].class} ${rasp[item].teacher} ${rasp[item].cabinet}`
                        - cur = rasp[item].is_now ? 'current_class ' : ''
                      - cur += d.id == cur_day ? 'current_day' : ''
                      div(class=`table_piece table_item ${cur}`)
                        p(class='class_text')=title
                      - item++



        


